*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eff0f4;
  width: 100vw;
}

.canvas_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
